@import '../../index.scss';

.header {
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -6px #222;
  width: 100%;
  height: 90px;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;

  @include mediaMd {
    height: 150px;
  }

  .left-wrapper {
    display: flex;
    align-items: center;
  }

}

.toggle-side-drawer {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  float: left;

  @include mediaMd {
    display: none;
  }

  img {
    width: 36px;
  }
}

.logo {
  width: 90px;
  display: none;
  float: left;
  margin-left: 2%;
  @include mediaMd {
    display: inline-block;
  }
}

.navigation {
  display: none;
  margin-left: 2%;

  @include mediaMd {
    display: inline-block;
  }

  .nav-list {
    display: flex;
    color: #000000;

    .nav-link {
      color: #000000;
      margin: 0 14px;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: all .2s ease-in-out;

      &:hover {
        border-bottom: 1px solid #000000;
      }
    }
  }
}

.search {
  width: 65%;
  display: inline-table;
}

.search__container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 90px;
}

.top-wrapper {
  text-align: center;
  height: 90px;
}

.bottom-wrapper {
  padding-top: 10px;
}

.navigation-icons {
  float: right;
  margin-right: 2%;


  &-list {
    position: relative;
    display: none;
    vertical-align: middle;
    height: 90px;

    @include mediaMd {
      display: table-cell;
    }


    .nav-link {
      color: #000000;
      cursor: pointer;

      .icon {
        width: 40px;
      }
    }

    .products-amount {
      position: absolute;
      z-index: -1;
      color: #fff;
      font-size: .6em;
      top: 62%;
      left: 83%;
      transform: translate(-50%, -50%);
    }
  }
}

// === SIDE DRAWER ===
.side-drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 30;
  height: 100%;
  width: 74%;
  max-width: 240px;
  background: #000000;
  transition: all .2s ease-in-out;

  @include mediaMd {
    display: none;
  }

  .logo-wrapper {
    background: #000;
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  .logo {
    display: block;
  }
}

.side-navigation-wrapper {
  padding-left: 15px;
}

.side-navigation {
  display: block;

  &-list {
    .nav-link {
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: all .2s ease-in-out;
      color: #000;
      font-size: 1em;

      &.main {
        line-height: 20px;
        font-size: 1.05em;
        font-weight: $fw-medium;
      }

      &:hover {
        border-bottom: 1px solid #000;
      }
    }
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

.user-navigation {
  display: block;
  width: 200px;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.nav-link-wrapper {
  display: inline-block;
}
.user-navigation .nav-link-wrapper{
  display: block;
}